.modal{
    width: 60%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    position: fixed;
    top: 20vh;
    left: 20%;
}

.modal-header{
    padding: 1rem;
    background-color: darkviolet;
}

.modal-header h1{
    margin: 0;
    font-size: 1.5rem;
}

.modal-content{
    padding: 1rem;
}

.modal-actions{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.btn{
    padding: 6px;
    border-color: black;
    margin: 1px;
}

/* @media (min-width:768px){
    .modal{
        width:50rem;
        left: calc((100% - 50rem));
    }
} */