.create-event{
    background-color: darkviolet;
    font: inherit;
    border: 2px solid lime;
    border-radius: 10px;
    padding: 0.8rem;
    margin-right: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem aqua;
    cursor: pointer;
}

button:hover,
button:active{
    background-color: chartreuse;
    border-color: darkgreen;
}

.events-control{
    text-align: center;
    padding: 3rem;
    margin: 3rem auto;
}